body *{
    margin: 0;
    padding: 0;
}
#app{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-app-region: drag;
}
:root{
    --theme-color-main: cyan;
    --theme-font-white-main: rgba(255, 255, 255, 0.95);
}