body *{
    margin: 0;
    padding: 0;
}
#app{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
:root{
    --theme-color-main: #03A9F4;
    --theme-font-white-main: rgba(255, 255, 255, 0.95);
    --theme-shadow-depth4: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    --theme-shadow-depth8: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
.block{
    background-color: white;
    box-shadow: var(--theme-shadow-depth4);
}
.block-title{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px;
}
.block{
    margin: 10px;
}
.form-group{
    display: block;
    padding: 15px 10px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.form-group .inline-link{
    margin: 0 10px;
}
.command-prev{
    color: var(--theme-color-main);
}
.start-btn{
    font-size: 30px;
}